*{
  margin: 0;
  padding: 0;
}

#header{
  width: 100%;
  height: 20vh;
  border: 1px black solid;
}


h1{
  text-align: center;
  margin-top: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: white;
}


header {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(55, 45, 45);
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 100vw;
  height: 24px;
  background-color: rgb(191, 188, 188);
  margin: 6px 0;
  transition: 0.4s;
}

.menu {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(247, 247, 247);
  
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 12px;
}

.menu a {
  text-decoration: none;
  color: rgb(55, 45, 45);
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  color: gold;
}

#menu-list{
  width: 50%;
  text-decoration: none;
  color: rgb(55, 45, 45);
  font-weight: bold;
  transition: 0.3s;
  font-size: 20px;
  position: absolute;
  left: 0;
}



#section1{
  width: 100vw;
  height: 25vh;
 
}











#section1-h1{
  width:50%;
  color: rgb(55, 45, 45);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 36px;
  font-size: 30px;
  /* margin-left: 680px; */
  position: absolute;
    right: 16vw;
}

#section1-p2{
  width: 50%;
  margin-top: 11vh;
  
  color: rgb(55, 45, 45);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
    right: 1vw;
}



main{
  width: 100vw;
}


#section2{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
}

#section2-h1{
  color: rgb(55, 45, 45);
}

.responsive-image{
  width: 19vw;
  height: 45vh;
  margin: 5px;
  
}

#margin{
  margin-right: 27px;
  
}



.goods{
  /* margin: 5px; */
  margin-top: 20px;
  margin-bottom: 20px;
}

#goods-div{
  width: 14vw;
  height: 42vh;
  border: 1px solid rgb(55, 45, 45);
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: rgba(255, 81, 0, 0.821);
}


#section-rekishi{
  width: 100vw;
  height: 25vh;
}



#rekishi-h1{
  width: 50%;
  color: rgb(55, 45, 45);
  
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


#rekishi-p2{
  margin-top: 20px;
  margin-left: 20px;
  color: rgb(55, 45, 45);
  padding-bottom: px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#section3{
  width: 100vw;
  height: 35vh;
  border: 1px black solid;
  background-color: rgb(55, 45, 45);
}

#section3-div{
  display: flex;
}

#section3-h1{
  font-size: 40px;
  margin-top: 70px;
  margin-left: 50px;
  margin-bottom: 40px;
  color: white;
}


.section3-p{
  margin-left: 50px;
  color: white;
}

body{
  width: 100vw;
  border: 1px black solid;
  background-color: rgb(247, 247, 247);
}

footer{
  width: 100vw;
  padding: 7px;
  text-align: center;
  background-color: rgb(247, 247, 247);
}

@media screen and (max-width:780px){
  
  .menu a{
    font-size: 15px;
  }

  #menu-list{
    font-size: 15px;
  }
  
  #section1-h1{
    font-size: 20px;
    position: absolute;
    right: 6vw;
  }
  #section1-p2{
    font-size: 15px;
    position: absolute;
    right: 6vw;
   
  }


  #section2{
    flex-direction: column;
  }

  #margin-img{
    margin-top: 80px;
  }

  .responsive-image{
    
    width: 97%;
  }
  
  #section3-h1{
    font-size: 30px;
    margin-left: 8px;
  }
  .section3-p{
    margin-left: 8px;
    font-size: 13px;
  }

  #section3{
    height: 40vh;
  }

  #section-rekishi{
    height: 30vh;
  }

  #rekishi-h1{
    font-size: 20px;
    padding-bottom: 20px;
  }
  #rekishi-p2{
    font-size: 15px;
    margin-left: 3px;
  }


}