*{
  margin: 0;
  padding: 0;
}

/* リセットCSS */

/* メニュータグ */
.menu-toggle {
  display: none;
  cursor: pointer;
} 
.bar {
  width: 100vw;
  height: 24px;
  background-color: rgb(247, 247, 247);
  margin: 6px 0;
  transition: 0.4s;
}
.menu {
display: flex;
justify-content: flex-end;
background-color: rgb(247, 247, 247);
}
.menu ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}
.menu li {
margin: 12px;
}
#menu-back{
  position: absolute;
  left: 0px;
}
.menu a {
text-decoration: none;
color: rgb(55, 45, 45);
font-weight: bold;
  transition: 0.3s;
}
.menu a:hover {
color: gold;
}

/* 見出し */
#otonarisan{
  width: 100vw;
  height: 20vh;
  border: 1px rgb(55, 45, 45);
  background-color:  rgb(55, 45, 45);
}
h1{
  text-align: center;
  line-height: 160px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
  color: rgb(247, 247, 247);
}

/* 説明文 */
#section1{
  width: 100vw;
  height: 20vh;
}
#section1-h1{
  width: 72%;
  text-align: right;
  font-size: 50px;
  color: rgb(55, 45, 45);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#section1-p{ 
  width: 95%;
  text-align: right;
  color: rgb(55, 45, 45);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 写真 */
#section2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10vh;
}
.responsive-image{
  width: 23vw;
  height: 43vh;
}

/* 歴史説明文 */
#rekishi-h1{
  color: rgb(55, 45, 45);
  text-align: left;
  margin-left: 20px;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
#rekishi-p{
  color: rgb(55, 45, 45);
  margin-left: 20px;
  padding-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* body */
body{
  width: 100vw;
  /* border: 1px black solid; */
  background-color: rgb(247, 247, 247);
}

/* footer */
footer{
  width: 100vw;
  height: 65px;
  background-color: rgb(55, 45, 45);
}
#footer-p{
  width: 100vw;
  text-align: center;
  color: rgb(247, 247, 247);
  padding-top: 30px;
  font-size: 20px;
}

/* アニメーション */
.responsive-image {
  width: 23vw; 
  height: 46vh;
  transition: width 0.3s ease;
}
.responsive-image:hover {
  width: 25vw;
  height: 48vh;
}


/* レスポンス対応 */
@media screen and (max-width:780px){

  /* 越前焼文字 */
  #section1-h1{
    font-size: 30px;
    margin-left: 15px;
  }

  /* 説明文 */
  #section1-p{
    font-size: 14px;
  }

  /* 写真section位置 */
  #section2{
    margin-left: 22px;
  }

  /* 写真 */
  .responsive-image{
    width: 95%;
    margin-top: 60px;
  }
  
  /* 歴史文字 */
  #rekishi-h1{
    font-size: 30px;
    margin-left: 95px;
  }

  /* 説明文 */
  #rekishi-p{
    margin-left: 3px;
  }

}